.container {
    padding-top: 24px;
    display: flex;
    justify-items: center;
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.textInput {
  
    width: 100%;
    padding: 8px 16px;
    background-color: black;
    color: #fff;
    border-radius: 16px;
    border: none;

}

.btn_emoji {
    background-color: transparent;
    border-radius: 50%;
    border: none;
    position: absolute;
    right: 6px;
    bottom: 6px;
    cursor: pointer;
}

@media only screen and (min-width: 920px) {
    .container {
        padding-top: 64px;
        width: 30%;
        margin: 0 auto;
    }

    .textInput {
        padding: 12px 16px;
    }

    .btn_emoji {
        right: 6px;
        bottom: 8px;
        font-size: 20px;
    }
}